---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Je suis la page d'accueil, bienvenue</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum sem
    vitae nibh gravida, sed lacinia nisl finibus. Cras mattis non leo id
    tristique. Duis mollis molestie urna, sed eleifend sapien imperdiet ut.
  </p>

  <h2>Cras aliquam luctus justo</h2>
  <p>
    Praesent quis nisl et mi gravida suscipit non et ipsum. Morbi convallis
    finibus ligula id lobortis. Suspendisse pellentesque nulla quis nulla
    dignissim, et sollicitudin leo pretium.
  </p>
  <p>
    Quisque ullamcorper urna nec mi scelerisque auctor. Nulla facilisi.
    Suspendisse eu metus dui. Aenean venenatis lacus vel elementum scelerisque.
    Integer magna ante, interdum vel massa sed, mattis pellentesque velit.
    Phasellus fringilla tincidunt purus nec faucibus. Aliquam volutpat maximus
    sem et interdum.
  </p>

  <h2>Aenean tellus urna</h2>
  <p>
    Sed in tristique ex. Sed accumsan urna sit amet purus consectetur rhoncus.
    Nulla finibus libero eu turpis luctus fringilla. Cras suscipit, nisl a
    tincidunt vestibulum, nibh orci mollis ante, non commodo risus purus in
    odio. Nam at arcu sodales, imperdiet justo ut, iaculis ex.
  </p>
  <p>
    Cras condimentum ex nulla, ut finibus leo semper ac. Donec venenatis ornare
    mauris, eu tempus erat finibus eu. Integer imperdiet nec mauris ac eleifend.
  </p>
  <p>
    Nulla ante nisl, pulvinar mollis molestie nec, malesuada nec nisl. Donec
    ultrices nunc et ante consectetur commodo. Suspendisse tempus porttitor
    purus at convallis. Phasellus at blandit velit. Nullam rutrum nisi venenatis
    purus finibus, sed placerat mauris pulvinar.
  </p>

  <h3>Nam eu quam ultrices, semper orci sed</h3>
  <p>
    Sed aliquet risus eu ipsum sollicitudin, ac tempus felis luctus. Vivamus nec
    massa tincidunt, tincidunt dui sit amet, suscipit mauris. Nulla efficitur eu
    est nec faucibus. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Sed ante massa, sollicitudin sed augue
    quis, consequat scelerisque magna.
  </p>
  <h3>Nulla tristique orci turpis</h3>
  <p>
    Nunc vel ante dapibus, sollicitudin justo ut, tempor nisi. Integer interdum
    eleifend porttitor. Praesent faucibus mauris nec augue condimentum
    fermentum. Pellentesque at ligula aliquam, cursus tellus sit amet, ultrices
    dolor. Sed id mi placerat, lacinia nisi a, dapibus purus. In erat mauris,
    sagittis vitae ullamcorper in, lacinia a sem.
  </p>
  <p>
    Cras sed egestas eros, consequat lobortis tortor. Sed quis quam sed libero
    sollicitudin bibendum. Donec efficitur mauris sem, et rhoncus magna
    vulputate in. Aliquam dictum risus nec mollis varius.
  </p>
  <h3>Aenean euismod vehicula hendrerit</h3>
  <p>
    Nunc nec nibh a eros tempor pellentesque. Suspendisse accumsan, enim vitae
    dictum aliquam, erat erat iaculis nibh, a dignissim mi felis ac leo. Ut
    ultricies tortor eu eros maximus, ut placerat libero fringilla. Integer
    dignissim urna vel augue consectetur dignissim.
  </p>

  <h2>Aenean tellus urna</h2>
  <p>
    Sed in tristique ex. Sed accumsan urna sit amet purus consectetur rhoncus.
    Nulla finibus libero eu turpis luctus fringilla. Cras suscipit, nisl a
    tincidunt vestibulum, nibh orci mollis ante, non commodo risus purus in
    odio. Nam at arcu sodales, imperdiet justo ut, iaculis ex.
  </p>
</Layout>
