---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const cares = await getCollection("cares");
---

<Layout>
  <h1>Je suis la page des soins, voici mes prestations</h1>
  <p>
    [Message obligatoire sur les soins qui ne remplacent pas le diagnostique
    d'un medecin]
  </p>
  {
    cares.map((care, id) => (
      <section>
        <h2>
          Soin {id + 1} - {care.data.title}
        </h2>
        <p>{care.body}</p>
        <p>Tarif : {care.data.price}&euro;</p>
        <Image src={care.data.image} alt="" width="200" />
      </section>
    ))
  }
</Layout>

<style>
  section:not(:last-of-type) {
    border-bottom: 2px solid var(--color-primary);
    padding-block-end: 1em;
  }
</style>
