.Header {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-medium);
  letter-spacing: 0.05rem;

  a {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-underline-offset: var(--space-025);
      text-decoration: underline var(--color-text-subtle) 2px;
    }
  }

  ul {
    padding: 16px;
    margin: 0;
    display: flex;
    list-style: none;
    gap: var(--space-150);
    align-items: center;
    justify-content: flex-end;
  }

  #logo {
    flex: 1 0 auto;
  }
}
