.Header {
  background-color: var(--color-primary);

  a {
    display: inline-block;
  }

  ul {
    padding: 16px;
    margin: 0;
    display: flex;
    list-style: none;
    gap: var(--gap-2);
    align-items: center;
  }

  &-themeToggle {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
  }
}
