---
import ThemeIcon from "../ThemeIcon.astro";
---

<header class="Header">
  <nav class="wrapper">
    <ul>
      <li id="logo">
        <a href="/">Aurore Energétique</a>
      </li>
      <li>
        <a href="/presentation">Qui suis-je</a>
      </li>
      <li>
        <a href="/soins">Mes soins</a>
      </li>
      <li>
        <a href="/avis">Avis</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
</header>
